<div *ngIf="course" class="course-detail-container container">
  <button class="back-button" (click)="goBack()">Back</button>
  <h2>{{ course.title }}</h2>
  <p>{{ course.description }}</p>
  <p><strong>Duration:</strong> {{ course.duration }} hours</p>

  <h3>Course Units</h3>
  <div *ngFor="let unit of course.units; let i = index">
    <button class="unit-button" (click)="toggleUnit(i)">
      {{ unit.title }}
    </button>
    <div id="unit-{{ i }}" class="unit-content">
      <div *ngFor="let lesson of unit.lessons; let j = index">
        <button class="lesson-button" (click)="toggleLesson(i, j)">
          {{ lesson.title }}
        </button>
        <div id="unit-{{ i }}-lesson-{{ j }}" class="lesson-content">
          <p>{{ lesson.content }}</p>
        </div>
      </div>
    </div>
  </div>

  <h3>Quizzes</h3>
  <div class="quiz-list" *ngIf="course.quizzes.length > 0">
    <ul>
      <li *ngFor="let quiz of course.quizzes">
        <button (click)="startQuiz(quiz.id)">{{ quiz.title }}</button>
      </li>
    </ul>
  </div>
  <div *ngIf="course.quizzes.length === 0">
    <p>No quizzes available for this course.</p>
  </div>
</div>
