<div class="quiz-container container" *ngIf="quiz">
  <button class="back-button" (click)="goBack()">Back</button>
  <h2>{{ quiz.title }}</h2>
  <div *ngFor="let question of questions" class="question-item">
    <p>{{ question.text }}</p>
    <div *ngFor="let option of question.options">
      <input
        type="radio"
        [value]="option"
        [(ngModel)]="answers[question.id]"
        name="q{{ question.id }}"
      />
      {{ option }}
    </div>
  </div>
  <button class="submit-button" (click)="submitQuiz()">Submit Quiz</button>
</div>
